version: "3.9"

services:
  grobid:
    image: grobid/grobid:0.8.2-full
    container_name: grobid
    ports:
      - "8070:8070"
      - "8071:8071"
    networks:
      - smartlib-net
    runtime: nvidia      # GPU support
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    networks:
      - smartlib-net
    entrypoint: ["/bin/sh", "-c"]
    command: >
      "
      ollama serve &
      sleep 4 &&
      ollama pull llama3.1:8b &&
      ollama pull nomic-embed-text &&
      wait"


  devcontainer:
    build:
      context: .
      dockerfile: .devcontainer/Dockerfile
    container_name: smartlib_dev
    networks:
      - smartlib-net
    volumes:
      - ./:/workspace:cached
    depends_on:
      - grobid
      - ollama

networks:
  smartlib-net:
    driver: bridge

volumes:
  ollama_data: